# Dependencies
node_modules
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Logs
logs
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Jenkins
Jenkinsfile

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
